<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/bootstrap.css">
    <style>
        .an{
            margin-left: 200px;
            margin-top: 60px;
        }
        body{
            background-color: #ECE9D8;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">汽车租赁系统</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav ">
                <li class="active"><a href="#">客人查询</a></li>
                <li><a href="#">租赁登记</a></li>
                <li><a href="#">归还登记</a></li>
                <li><a href="#">统计分析</a></li>
                <li><a href="#">类别档案</a></li>
                <li><a href="#">汽车档案</a></li>
                <li><a href="#">退出系统</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="an">
    <button type="button" class=" btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        增加
    </button>
    <button type="button" class=" btn-primary btn-lg" data-toggle="modal" data-target="#myModal1" id="update">
        修改
    </button>
    <button type="button" class=" btn-primary btn-lg" data-toggle="modal" data-target="#myModal2" id="delete">
        删除
    </button>
    <button href="/shou" class=" btn-default btn-lg active" role="button" id="shan">返回</button>
</div>
<!--增加学生-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">创建员工</h4>
            </div>
            <div class="modal-body">
                <form class="form">
                    <p>行号：<input type="text" name="id"></p>
                    <p>客户名称：<input type="text" name="kehu"></p>
                    <p>电话：<input type="text" name="phone" >
                    <p>住址：<input type="text" name="address"></p>
                    <p>省份证：<input type="text" name="card"></p>
                    <p>驾照号码：<input type="text" name="jiazhao"></p>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="tijiao">提交</button>
                <button type="button" class="btn btn-primary">取消</button>
            </div>
        </div>
    </div>
</div>
<!--修改-->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body" id="tian">
                <form class="formid" id="quexiao">
                    <p>行号：<input type="text" name="id" class="wen1"></p>
                    <p>客户名称：<input type="text" name="kehu" class="wen2"></p>
                    <p>电话：<input type="text" name="phone" class="wen3">
                    <p>住址：<input type="text" name="address" class="wen4"></p>
                    <p>省份证：<input type="text" name="card" class="wen5"></p>
                    <p>驾照号码：<input type="text" name="jiazhao" class="wen6"></p>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="bian">确定</button>
                <button type="button" class="btn btn-primary">取消</button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th></th>
            <th>行号</th>
            <th>客户名称</th>
            <th>电话</th>
            <th>住址</th>
            <th>省份证</th>
            <th>驾照号码</th>
        </tr>
        </thead>
        <tbody id="tbody"></tbody>
    </table>
</div>
<script src="/public/js/jquery-1.12.3.min.js"></script>
<script src="/public/js/bootstrap.js"></script>
<script>
    $("#tijiao").click(function () {
        $.post("/doadd",{
            id : parseInt($("input[name=id]").val()),
            kehu : $("input[name=kehu]").val(),
            phone : parseInt($("input[name=phone]").val()),
            address : $("input[name=address]").val(),
            card : parseInt($("input[name=card]").val()),
            jiazhao : parseInt($("input[name=jiazhao]").val()),
        },function(data){
            if(data.result == 1){
                alert("提交成功！");
                $("input[type=text]").val("");
                window.location="/kecha";
            }else if(data.result == -1){
                alert("提交失败，学号被占用！");
            }else if(data.result == -2){
                alert("服务器错误！请联系管理员，怎么联系我也不知道！");
            }
        })
    });
    //渲染数据
    $.get("/yonghu",function(data){
        $.each(data.results,function(i, n){
            $tr = $("<tr></tr>");
            $("<td><input type='radio' name='yuangong' data-sid='" + n.id +"'/></td>").appendTo($tr);
            $("<td></td>").html(n.id).appendTo($tr);
            $("<td></td>").html(n.kehu).appendTo($tr);
            $("<td></td>").html(n.phone).appendTo($tr);
            $("<td></td>").html(n.address).appendTo($tr);
            $("<td></td>").html(n.card).appendTo($tr);
            $("<td></td>").html(n.jiazhao).appendTo($tr);
            $tr.appendTo($("#tbody"));
        });
    });
    //事件委托
    $("#tbody").delegate("input[name=yuangong]","click",function(){
        $("#update").removeAttr("disabled").attr("data-sid",$(this).attr("data-sid"));
        $("#delete").removeAttr("disabled").attr("data-sid",$(this).attr("data-sid"));
    });
    //修改数据
    $("#update").click(function () {
        var sid = $(this).attr("data-sid");
        console.log(sid);
        $.get("/yonghu",function(data){
            for(var i=0;i<data.results.length;i++){
                if(sid==data.results[i].id){
                    $(".wen1").val(data.results[i].id)
                    $(".wen2").val(data.results[i].kehu)
                    $(".wen3").val(data.results[i].phone)
                    $(".wen4").val(data.results[i].address)
                    $(".wen5").val(data.results[i].card)
                    $(".wen6").val(data.results[i].jiazhao)
                }
            }
        });
    });
    $("#bian").click(function () {
        var  sid = parseInt($(".wen1").val());
        alert(sid);
        $.post("/update/" + sid,{
            id : parseInt($(".wen1").val()),
            kehu : $(".wen2").val(),
            phone : parseInt($(".wen3").val()),
            address : $(".wen4").val(),
            card : parseInt($(".wen5").val()),
            jiazhao : parseInt($(".wen6").val()),
        },function(data){
            console.log(data)
            if(data.result == 1){
                alert("修改成功！");
                window.location="/kecha";
            }else{
                alert("服务器错误！请联系管理员，怎么联系我也不知道！");
            }
        })
    })
    //删除
    $("#delete").click(function () {
        if(!confirm("真的要删除么")){
            return;
        }
        var sid = $(this).attr("data-sid");
        var $this = $(this);
        $.ajax({
            url : "/shan/" + sid,
            type : "delete",
            success : function(data){
                if(data.result == 1){
                    alert("删除成功");
                    window.location="/kecha";
                }else{
                    alert("服务器错误！");
                }
            }
        });
    })
</script>
</body>
</html>